Source: dx-snap
Section: net
Priority: optional
Maintainer: Dimitri <dimitri@example.com>
Build-Depends: debhelper (>= 12), g++, libstdc++-dev, make
Standards-Version: 4.5.0

Package: dx-snap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libstdc++6
Description: DX-Snap > Marvel Snap
 tmtc
